<!DOCTYPE html>
<html>
<head>
 <title>Express Validator</title> <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
crossorigin="anonymous">
 <style> nav {
margin-bottom: 20px;
 }
 </style>
</head>
<body>
 <nav class="navbar navbar-dark bg-primary"><a class="navbar-brand" href="#">Express
Validator</a></nav>
 <div class="container"> 
 <div class="alert alert-danger" role="alert" id="error-group" style="display: none">
<ul id="errors"></ul>
 </div>
 <div class="row">
 <div class="col-sm col-md-8 offset-md-2 col-lg-6 offset-lg-3">
 <h3>Welcome To Express Validator!</h3>
 <form>
 <div class="form-group"><input class="form-control" type="text" id="name"
placeholder="Name"></div>
 <div class="form-group"><input class="form-control" type="text" id="classYear"
placeholder="Class Year"></div>
 <div class="form-group"><input class="form-control" type="text" id="weekday"
placeholder="Available Weekday">
 </div>
 <div class="form-group"><input class="form-control" type="email" id="email"
placeholder="Email"></div>
 <div class="form-group"><input class="form-control" type="password" id="password"
placeholder="Password">
 </div>
 <div class="form-group"><input class="form-control" type="password"
id="confirmPassword" placeholder="Confirm Password"></div>
 <div class="form-group"><button class="form-control btn btn-primary"
type="button" id="signup-btn">Submit</button></div>
 </form>
 </div>
 </div>
 </div>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-
FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"></script>
 <script src="/javascripts/script.js"></script>
</body>
</html> 